<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pipeline Demo</title>
    <style>
        #json-container {
            max-height: 900px;
            width: 100%;
            overflow: scroll; /* Use 'scroll' value to make scroll bars visible */
        }
    </style>
    <br>
    <br>
</head>


<body>
Demo ID: <div id="id-container">
    <b>
        <div id="id-output">
        </div>
    </b>
</div>
<br>
<br>
Pipeline Image: <div id="image-container">
    <img id="image" src="" alt="Pipeline Image" />
</div>
<br>
<br>
Pipeline Execution Logs
<br>
<div id="json-container">
    <div id="json-output">
        <pre></pre>
    </div>
</div>

<script th:inline="javascript">

        const idContainer = document.getElementById("id-container");
        const idOutput = document.getElementById("id-output");
        const imageContainer = document.getElementById("image-container");
        const imageElement = document.getElementById("image");
        const jsonContainer = document.getElementById("json-container");
        const jsonOutput = document.querySelector("#json-output pre");

        let id;
        let endTime;
        let hostname = [[${hostname}]];
        let urlBase = 'http://' + hostname + ':8080/patterns/pipeline';

        // Function to fetch an ID once
        async function fetchIdOnce() {
            try {

                let fastFail = [[${param.fastFail}]];
                if (!fastFail) {
                    fastFail = true;
                }
                let demoURL = urlBase + '/demo?fastFail=' + fastFail;
                const response = await fetch(demoURL);
                const data = await response.json();
		        idOutput.textContent = data.id;
                return data.id;
            } catch (error) {
                console.error("Error fetching ID:", error);
            }
        }

        // Function to fetch and render an image
        async function fetchAndRenderImage(id) {
            try {
                const response = await fetch(urlBase + `/graph/${id}`);
                const blob = await response.blob();
                const imageUrl = URL.createObjectURL(blob);

                // Update the image source
                imageElement.src = imageUrl;
            } catch (error) {
                console.error("Error fetching image:", error);
            }
        }

        // Function to fetch and render JSON
        async function fetchAndRenderJSON(id) {
            try {
                const response = await fetch(urlBase + `/log/${id}`);
                const data = await response.json();
                const formattedJSON = JSON.stringify(data, null, 2);

                // Update the JSON output
                jsonOutput.textContent = formattedJSON;
            } catch (error) {
                console.error("Error fetching JSON:", error);
            }
        }

        // function to fetch data and update every 2 seconds, for a max of 2 minutes
        async function fetchDataAndUpdate() {
            if (!id) {
                id = await fetchIdOnce();
                endTime = Date.now() + 120000; // 2 minutes timeout
            }

            if (Date.now() < endTime) {
                fetchAndRenderImage(id);
                fetchAndRenderJSON(id);
            } else {
                clearInterval(fetchInterval); // Stop fetching after 2 minutes
            }
        }

        // Fetch and update data initially
        fetchDataAndUpdate();

        // Set an interval to fetch and update the data every 2 seconds
        const fetchInterval = setInterval(fetchDataAndUpdate, 2000); // 2 seconds in milliseconds
    </script>
</body>
</html>